.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch
}

.cards img {
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
    width: 35vh;
    height: 55vh;
    object-fit: cover;
}

ul {
    padding-left: 25%;
}

body {
    background-color: aqua;
}

li {
    list-style-type: none;
}